<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735898448983-rup3p2ipd1d5ifef17tumhpi7bpmu7j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735898448983-rup3p2ipd1d5ifef17tumhpi7bpmu7j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHjzvNulPz3B09BdAhENWGkWfmi_7vwRU</string>
	<key>GCM_SENDER_ID</key>
	<string>735898448983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>placeholder.Lavender</string>
	<key>PROJECT_ID</key>
	<string>lavender-6884e</string>
	<key>STORAGE_BUCKET</key>
	<string>lavender-6884e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735898448983:ios:803e3bdf4bfeabb09e9f12</string>
</dict>
</plist>